

<title>It's BLOGTIME</title>


<div id="container">

<div class="top_banner">
  <h1 class="header">Master of Disaster</h1>
</div>

<div class="message">
  <% if @message %>
    <p><%= "Error: #{@message}" %></p>
  <% end %>
</div>

<div class="sidebar">
<!--   <div class="about_me">
    <ul>About me stuff</ul>
    <ul>data stuff</ul>
    <ul>more stuff about me</ul>
    <ul>it's all about me</ul>
  </div> -->

  <div class="submit_post">
    <h2> What's on your mind? </h2>
    <form action="/posts/new" method="POST">
      <div class="input_field"> 
        <input class="title" type="text" name="title" placeholder="title">
        <input class="title" type="text" name="tags" placeholder="tag1, tag2, tag3">
        <textarea class="body" name="body" placeholder="body" row="30" cols="20"></textarea>
        <input type="submit" value="Post">
      </div>
    </form>
  </div>
</div>


<div class="post">
  <% if @single_post %>
    <span class="post_title">
      <%= "#{@single_post.created_at.strftime('%Y/%m/%d')} #{@single_post.title}" %></span>
    <p><%= @single_post.body %></p>
    <p><%= "tags: @tags" %></p>
    <p><a href=<%= "/posts/edit/#{@single_post.id}" %>>edit</a></p>
  <% else %>
    <% @all_posts.each do |post| %>
    <span class="post_title">
      <%= "#{post.created_at.strftime('%Y/%m/%d')} #{post.title}" %></span>
    <p><%= post.body %></p>
    <br>
    <p><%= "tags: #{post.tags.map { |tag| tag.name }.join(", ") }" %></p>
    <p><a href=<%= "/posts/edit/#{post.id}" %>>edit</a></p>
    <% end %>
  <% end %>

</div>

<div class="footer"> Wayne Wayne BloGgin 2013 </div>